            <footer class="footer">
                Gluegun project is licensed under Apache 2.0 License.
            </footer>
        </section>

        <script src="vendors/jquery/jquery-3.3.1.min.js"></script>
        <script src="vendors/highlight.js/highlight.min.js"></script>
        <script src="js/gluegun.min.js"></script>

            <script>
                $(function() {
                    $(".nav > li > a").on("click",function(e) {
                        e.preventDefault();
                        $("#minio_quickstart_guide").load(this.href);
                    });
                });
            </script>
    </body>
</html>
