        <header class="header">
            <a href="" class="sidebar-toggle"></a>

            <div class="search">
                <input type="text" class="search__text" placeholder="Search documents...">
            </div>

            <div class="doc-actions">
                <%-# key2 comes from gluegun.rb and denotes current document being generated -%>
                <%-# key2 is defined for all pages except for index.html -%>
                <%- if defined?(key2) -%>
                    <%-# duplicate link to prevent original link from being modified -%>
                    <%- doc_link = get_github_link(key2["Link"].dup) -%>
                <%- else -%>
                    <%-# duplicate link to prevent original link from being modified -%>
                    <%- doc_link = get_github_link(@site_map['Documents'][0].values[0][0]["Link"].dup) -%>
                <%- end -%>

                <a href="<%= doc_link -%>" class="doc-actions__item doc-actions__item--web">
                    <img src="img/icons/edit.svg" alt="">
                    <span>Suggest an Edit</span>
                </a>

                <% if !@site_map['Language'].nil? %>
                    <div class="dropdown">
                        <a href="" class="dropdown__toggle dropdown__toggle--caret doc-actions__item">
                            <img src="img/icons/translate.svg" alt="">
                            <span>Translation</span>
                        </a>

                        <div class="dropdown__menu dropdown__menu--right">
                            <%- @site_map['Language'].each do |categories| -%>
                                <%- categories.each do |key, value| -%>
                                    <a class="dropdown__item" href="<%=value -%>"><%= key -%></a>
                                <%- end -%>
                            <%- end -%>
                        </div>
                    </div>
                <%- end -%>
            </div>
        </header>