<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Gluegun </title>
    <!-- Bootstrap CDN HTML -->
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
      $(function() {
        $(".nav > li > a").on("click",function(e) {
          e.preventDefault();
          document.title = this.textContent;
          $("#minio_quickstart_guide").load(this.href);
        });
      });
    </script>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/gluegun.css" rel="stylesheet">
    <script src="js/bootstrap.js"></script>
  </head>
  <body>
